fastapi
uvicorn
python-multipart
pillow
requests
python-dotenv
google-generativeai
pydantic
python-jose[cryptography]
passlib[bcrypt]
sqlalchemy
scikit-learn
pandas
numpy
python-multipart
bcrypt
scipy
httpx